canvas {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: 1200px 800px;
}

body {
  font-family: "Comic Sans MS", "Courier New", monospace;
}

input {
  font-family: "Comic Sans MS", "Courier New", monospace;
}

.controlsBox {
  background-color: #eee;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.controlsBox > div {
  background-color: #ddd;
  padding: 1em;
}

#screenSplit {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 1em;
}
