canvas {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  border: 5px solid #000;
}

body {
  font-family: "Comic Sans MS", "Courier New", monospace;
}

input {
  font-family: "Comic Sans MS", "Courier New", monospace;
  font-size: 12px;
}

.controlsBox {
  background-color: #eee;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.controlsBox > div {
  background-color: #ddd;
  padding: 1em;
}

.controlsBox > div > p {
  width: 65px;
}

.controlsBox > div > input {
  width: 60px;
}

#screenSplit {
  background-color: #eaeaea;
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 1em;
}

#screenSplit > div > p {
  background-color: #ccc;
  padding: 1em;
}
